/* fonts */
.m-plus-rounded-1c-regular {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.arizonia-regular {
  font-family: "Arizonia", cursive;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}

body {
    font-family: 'M PLUS Rounded 1c';
    margin: 0 ; 
    padding: 10px ;
    max-width: 500px;
    min-height: 400px;
    width: 500px;
    height: 400px;
}

h1 {
    font-family: 'DM Serif Display';
    text-align: center;
    padding-top: 10px;
    margin: 0;
    font-size: 30px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items: center;
}

input {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 2px;
    padding: 10px 12px;
    margin-bottom: 15px;
    font-size: 15px;
}

::placeholder {
    font-style: italic;
}

button {
    border-color: transparent;
    border-radius: 2px;
    font-family: 'M PLUS Rounded 1c';
}

#button-container {
    flex: 0 0 48%;
}

.tab-content {
    flex: 0 0 52%;
}

.main-btn {
    display: block;
    padding: 10px 40px;
    width: 100%;
    font-size: 15px;
    margin-bottom: 10px;
}

.switch-btn {
    padding: 5px 20px ;
}

ul {
    margin-top: 15px;
    padding-left: 10px;
    list-style-type: none;
    font-size: 15px;
    display: inline-block;
    white-space: nowrap;        
    overflow: hidden;            
    text-overflow: ellipsis;
}

li {
    margin-top: 5px;
}

a {
    color: #7a9c57;
    
}

.scroll-menu {
    white-space: nowrap;
    overflow-y: scroll; /*  vertical scrolling */
    overflow-x: hidden; /*  horizontal scrolling */
    width: 250px;
    height: 240px;
    margin-left: 10px;
}

.subtitle {
    text-align: center;
    margin-top: 0;
    font-size: 10px;
}

#theme-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
