body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    margin: 0 ; 
    padding: 10px ;
    min-width: 300px;

}

input {
    width: 100%;
    border: 1px solid #6B7A9A;
    border-radius: 5px;
    padding: 10px 12px;
    margin-bottom: 10px;
    font-size: 15px;
    color: #687A9A;
}

button {
    border-color: transparent;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #6B7A9A;
    color: white;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    margin-top: 15px;
    padding-left: 5px;
    list-style-type: none;
    font-size: 10px;
}

li {
    margin-top: 5px;
}

li a {
    color: #687A9A;
}