/* chocolate: brown, green, beige*/
:root {
    --dark-green: #426320 ;
    --green: #7a9c57 ;
    --light-green: #b3c6a0 ;
    --white-green: #fcfff8 ; 
    --beige: #f9f2e3 ;
    --dark-brown: #34230F;
    --brown: #7F6241 ;
}   

body {
    color: var(--dark-green);
    background-color: var(--beige);
}

.alt-h1 {
    color: var(--brown);
}
button {
    color: var(--white-green);
    background-color: var(--green);
}

button:hover {
    background-color: var(--white-green);
    color: var(--dark-green);
    border: solid var(--dark-green); 
}

input {
    outline: solid var(--brown);
    color: var(--brown);
    background-color: #fcfff8;

}

input:focus {
    outline: solid var(--dark-brown);
}

::placeholder {
    color: var(--light-green);
}

.tab {
    background-color: var(--brown);
}

.tab:hover {
    color: var(--brown);
    background-color: var(--beige);
    border: solid var(--brown);
}
