/* strawberry: pink, green, beige*/
:root {
    --dark-green: #426320 ;
    --green: #7a9c57 ;
    --light-green: #b3c6a0 ;
    --white-green: #fcfff8 ; 
    --beige: #f9f2e3 ;
    --dark-pink: #d1657f;
    --pink: #e5889e;
    --white-pink: #fffdfd ;
}   

body {
    color: var(--dark-green);
    background-color: var(--beige);
}

.alt-h1 {
    color: var(--pink);
}

.scroll-menu {
    scrollbar-color: white var(--pink);
}

button {
    color: var(--white-green);
    background-color: var(--green);
}

button:hover {
    background-color: var(--white-green);
    color: var(--dark-green);
    border: solid var(--dark-green); 
}

input {
    outline: solid var(--pink);
    color: var(--pink);
    background-color: #fcfff8;

}

input:focus {
    outline: solid var(--dark-pink);
}

::placeholder {
    color: var(--light-green);
}

.switch-btn {
    background-color: var(--pink);
}

.switch-btn:hover {
    background-color: var(--white-pink);
    color: var(--dark-pink);
    border: solid var(--dark-pink); 
}

.tab:hover {
    color: var(--pink);
    background-color: var(--white-pink);
    border: solid var(--pink);
}
